*{
    font-family:'Verdana', sans-serif;        
}

.register-card{
    border: 1px solid #ab0b20;
    border-radius:5px;
    box-shadow: 0 5px 10px rgb(208 2 27 / 15%);
    padding:25px;
    width: 50%;    
    margin: auto;  
    margin-top: 8%;  
}

.register-title{
    font-size: 30px;
    text-align: center;
    margin : 20px; 
    font-weight: bold;
    color:#ab0b20;   
}

.register-isi{
    display: grid;
    margin-bottom: 20px;
}

label{
    color:#ab0b20;
    margin-bottom:5px;
    font-size: 20px;
}

input{
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ab0b20;
    border-radius:5px;
}

button{
    width: 100%;
    background-color: #ab0b20;
    color: #fff;
    font-weight: bold;
    padding: 5px;
    border: 1px solid #ab0b20;
    border-radius:5px;
    box-shadow: 0 5px 10px rgb(208 2 27 / 15%);
    font-size: 18px;
    margin-bottom: 20px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.daftar {
    text-decoration: none;
    color:#ab0b20;
    font-weight: bold;
}