.content-home {
    margin: 20px;
}

.search-bar {
    text-align: center;
    margin-bottom: 10px;    
}

.search {
    padding: 8px;
    width: 60%;
    border: 2px solid #ab0b20;
    border-radius:5px;
    font-size: 16px;
}

.button {
    padding: 10px;
    background-color: #ab0b20;
    color: #ffffff;
    border-radius: 3px;
    border: 0px;
    cursor: pointer;
    font-size: 16px;
}

.add-laporan{
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
}

.add-laporan a{
    text-decoration: none;
    font-size: 18px;
    color: #000000;
}

.add-laporan a:hover{
    color:#ab0b20;
}

.list-laporan{
    padding : 0px 30px;
    margin-bottom: 20px;
}

.list-title {
    font-size:20px !important;
}

.detail-laporan p{
    font-size: 18px !important;
    margin-bottom: 0px;
}

.dtl-lapor{
    text-overflow: ellipsis;
    overflow: hidden;     
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
}

.keterangan {
    display: flex;
    justify-content: space-between;    
}

.keterangan p{
    margin-bottom: 20px;
}

.time{
    display: flex;
    align-items: center;
    gap: 10px;
}

.time a{
    text-decoration: none;
    padding: 5px;
    background-color: #ab0b20;
    color: #ffffff;
    border-radius: 5px;
}

hr{
    border: 1px solid #AB0B20;
}

footer{
    margin-top: 40px;
    text-align: center;
}

.content{
    padding: 30px;
}

.content h1{
    text-align: center;
}

.dot {
    width: 40px;
}

ul{
    list-style-type: none;
}

.pager{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.test{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-self: center;
}

.test a{
    text-decoration: none;
    font-size: 18px; 
    color: #ab0b20;   
}

.test a:hover:not(.active){
    color: #ab0b20;
    background-color: #dddd;
    padding:5px;
    border-radius: 5px;
}

.active span{
    color: #ffffff;
    background-color: #ab0b20;
    padding:5px;
    border-radius: 5px;
}